.container{
  max-width: 1177px;
  margin: 0 auto;
  padding: 0 2rem;
  font-family: Helvetica, sans-serif;
}


.flex{
  display: flex;
}

.grid {
  display: grid;
}


.fw__2 {font-weight: 200;}
.fw__3 {font-weight: 300;}
.fw__4 {font-weight: 400;}
.fw__5 {font-weight: 500;}
.fw__6 {font-weight: 600;}
.fw__7 {font-weight: 700;}
.fw__8 {font-weight: 800;}



.btn {
  display: inline-block;
  min-height: 54px;
  line-height: 54px;
  padding: 0 4.7rem;
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.7rem;
  font-weight: 500;
  transition: var(--transition);
}
